.headz1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.headz2 {
    background-color: #4aaaa5;
    flex: 1;
    margin: 10ox;
    padding:10px;
}

.headz3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.headz4 {
    flex: 1;
    margin: 10px;
    padding: 10px;
    
}

.picz {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 24px;
}

.linez{
    border: 0;
    border-bottom: 2px grey;
    height: 0;
    border-top: 1px;
}

.bodywordz {
    width: 960px;
}