.headz1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: left;
    margin: auto;
}
.bigbox {
    width: 960px;
    margin: auto;
    background-color: white;
}

.littlebox{
    width: 960px;
    margin: auto; 
}
.headz2 {
    background-color: #4aaaa5;
    flex: 1;
    margin: 10ox;
    padding:10px;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;}

.headz3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin: auto;
}

.headz4 {
    flex: 1;
    margin: 10px;
    padding: 10px;}

.picz {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 24px;
}

.picz2 {
    width: 270px;
    height: 270px;
    float: left;
    padding: 24px;
    position: relative;
}

.linez{
    background-color: lightgray;
    border-color: black;
    border: 10px; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;  }

.linez2{
    font-size: 1px;
    background-color: gray;
    margin-top: -6px;
    margin-bottom: 10px;
}

.bodyz{
    background-color:gray;
    background: linear-gradient( lightgrey, black);
}

.bodywordz {
    background: linear-gradient( white, lightgray);
    border-color: black;
    border: 10px;
    border-style: solid;
    padding: 10px;
}

.footbox{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center; 
}

.footchild{
    margin-top: auto;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color: #666666
}

#txt{
    height: 300px;
    width: 750px;
    font-size: 18px;
}

.picbox{
    float:left;
    text-align: center;
    justify-content: space-between;
}


.picwordz{
    position: absolute;
    font-size: 25px;
    background-color:#4aaaa5;
    color: white;
    bottom: 0px;
    width: 50%;
    align-content: center;
}